{% extends 'contacts/base.html' %}

{% block title %}Add Contacts{% endblock %}

{% block body %}

    <div class = 'col-sm-12 col-md-7'>
        <div class="panel panel-default">
        <div class="panel-body">

            <form class="form-horizonatal" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'contacts/form-template.html' %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="bun btn-success">Submit</button>
                    </div>
                </div>
            </form>

        </div>
        </div>
    </div>


{% endblock %}