{% extends 'contacts/base.html' %}

{% block title %} Contact Details {% endblock %}

{% block body %}

    <div class="container-fluid songs-container">

    <div class="row">

        <!-- left contact detail -->
        <div class = "col-sm-4 col-md-3">
            <div class = "thumbnail text-center">
                <img src = "{{object.photo.url}}" alt = "{{object.contact_name}}">
                <div class = "caption">
                    <h3>{{object.contact_name}}</h3>
                    <h6><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{object.email}}</h6>
                    <div style="line-height:100%">
                        <br>
                    </div>

                    <a href = "{% url 'contacts:contacts-update' object.id %}" class = "btn btn-warning btn-sm" role = "button">
                        &nbsp; Edit &nbsp; <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href = "{% url 'contacts:delete-contact' object.id %}" onclick="return confirm('Are you sure want to delete?');" class = "btn btn-danger btn-sm" role = "button">
                        Delete &nbsp;<span class="glyphicon glyphicon-trash"></span>
                    </a>

                </div>
            </div>
        </div>


        <!-- Right numbers -->
        <div class="col-sm-8 col-md-9">
                <a href="{% url 'contacts:numbers-add' object.id %}">
                    <button type="submit" class="btn btn-success">
                      <span class="glyphicon glyphicon-plus"></span>&nbsp; Add Numbers
                    </button>
                </a>
            <br><br>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Contact Numbers</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}



                    <table class="table">
                        <thead>
                        <tr>
                            <th><span class="glyphicon glyphicon-earphone"></span>&nbsp;Number</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for number in object.numbers_set.all %}
                            <tr>
                                <td>{{ number.phone_number }}</td>
                                <td>{{ number.number_type }}</td>

                                <td>

                                    <a href = "{% url 'contacts:numbers-update' object.id number.id %}" class = "btn btn-warning btn-xs" role = "button">
                                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp; Edit &nbsp;&nbsp;&nbsp;
                                    </a>

                                    <form action="{% url 'contacts:numbers-delete' object.id number.id %}" onclick="return confirm('Are you sure want to delete?');" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="number_id" value="{{ number.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Remove
                                        </button>
                                    </form>

                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>



                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}

});
