.thumbnail {
    background: #D3D3D3;
}

.thumbnail{
    //width: 300px;
    // or you could use percentage values for responsive layout
    width : 50%;
    height: 400px;
    overflow: auto;
}


.thumbnail img{
    // your styles for the image
    width: auto;
    height: 230px;
    display: block;
}

body{
    background: white url("images/b2.png");
}

.navbar{
    border-radius = 0;
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
}